* {
    margin: 0;
    padding: 0;
}

.absolute {
    background-color: #C2E8CE;
    height: 50px;
}

.absolute-block {
    display: flex;
    justify-content: center;
    padding: 15px 0;
}

.absolute-link {
    text-decoration: none;
    color: #1F1F1F;
    font-family: Popins, sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
}

.absolute-div {
    position: relative;
    left: 375px;
}

header {
    padding: 26px 0;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1110px;
    margin: auto;
}

.logo {
    margin-left: 55px;
    margin-right: 60px;
}

.list {
    display: flex;
    justify-content: space-between;
}

.list-item {
    margin-right: 7px;
    text-decoration: none;
    color: #1F1F1F;
    font-family: Popins, sans-serif;
    font-size: 15px;
    font-weight: 500;
}

.mr-40 {
    margin-right: 40px;
}

.list-image {
    margin-right: 40px;
}

.menu {
    display: flex;
    margin-right: 10px;
}

.menu-link {
    border: 1px solid #BFBFBF;
    border-radius: 60px;
    margin-right: 10px;
}

.menu-image {
    height: 24px;
    width: 24px;
    padding: 15px;
}

.menu-image:first-child {
    padding: 18px;
}

.main {
    max-width: 1110px;
    margin: auto;
    background: url("../images/1st-image.png") no-repeat;
    background-size: cover;
    padding-top: 120px;
    padding-bottom: 170px;
}

.main-title {
    margin-left: 55px;
    margin-bottom: 5px;
    font-family: 'Cormorant', serif;
    font-size: 50px;
    font-weight: 700;
}

.main-p {
    font-family: Popins, sans-serif;
    font-size: 26px;
    font-weight: 300;
    margin-left: 55px;
    margin-bottom: 40px;
}

.main-link {
    margin-left: 55px;
    text-decoration: none;
    font-family: Popins, sans-serif;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 36px 10px 36px;
    color: #FFFFFF;
    background-color: #FF8126;
    border-radius: 5px;

}